
$lg: 1024px;

[x-cloak] { 
  @apply hidden;
}

@media (min-width: $lg) {
  .lg\:initial {
    position: initial;
  }
}

.fa-lg {
  font-size: 1.33333em;
  line-height: 1.1em;
  vertical-align: 0;
}

.primary-red {
  @apply rounded bg-red-550 p-1 px-3 text-white;

  &.disabled, &:disabled {
    @apply opacity-50;
  }
}

.card {
  @apply bg-gray-100 p-2 md:p-5 rounded;
}

.content-style {
  dl {
    dt {
      @apply mt-2;
    }

    dd {
      @apply ml-5 font-light;
    }
  }

  p {
    @apply block my-2;
  }

  ul {
    @apply mt-5;

    li {
      @apply ml-5;
    }
  }

  h2 {
    @apply font-medium text-xl mt-5;
  }

  h3 {
    @apply mt-2 font-medium text-lg;
  }

  img {
    @apply rounded;
  }
}

.blog-nav {
  @apply bg-gray-100 w-full rounded p-2; 
  ul {
    @apply flex space-x-4 font-medium text-xl;
  }
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='url'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='search'],
input[type='tel'],
input[type='checkbox'],
input[type='radio'],
select,
select[multiple],
textarea {
  @apply rounded focus:ring-gray-600 focus:border-gray-600; 
}

// CHECKOUT

.checkout-step {
  .content {
    @apply hidden;
  }

  .step-edit {
    @apply hidden;
  }

  &.js-current-step {
    .content {
      @apply block;
    }
  }

  &.-reachable, .-complete {
    .step-edit {
      @apply block;
    }
  }

  &.-current, .-reachable, .-complete {
    .step-edit {
      @apply hidden;
    }
  }
}

.js-terms {
  a {
    @apply text-red-550;
  }
}

.btn-primary {
  @apply primary-red;
}